PORT=4000
DATABASE_URL=
JWT_SECRET=
EDGE_SUPERADMIN_PASSWORD=
SUPERADMIN_PASSWORD=
ADMIN_PASSWORD=
ATTENDANCE_ADMIN_PASSWORD=
ATTENDANCE_SCANNER_PASSWORD=
BETTING_ADMIN_PASSWORD=
AUCTION_ADMIN_PASSWORD=
MULTI_ADMIN_PASSWORD=
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
